.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 0 24px;
    max-width: 1400px;
    width: 100%;
}