.header {
    background-color: var(--primary);
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: top 0.3s, background-color 0.3s;
}

.hideHeader {
    top: -80px
}

.transparentHeader {
    background-color: rgba(255, 102, 0, 0.7) !important;
}

.content {
    /*padding: 0 24px;*/
    /*max-width: 1400px;*/
    /*width: 100%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 8px;
    list-style: none;
    color: var(--background);
}

.navigation a {
    padding: 16px;
    position: relative;
}

.navigation a::after{
    content: '';
    background-color: white;
    position: absolute;
    width: calc(100% - 32px);
    height: 4px;
    bottom: 4px;
    left: 16px;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.navigation a:hover::after {
    transform: scaleX(1);
}

.onPage::after {
    transform: scaleX(1) !important;
}

.menu {
    display: none;
    color: var(--background);
    cursor: pointer;
    font-size: 32px;
    z-index: 110;
}

@media (max-width: 750px) {
    .navigation {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        background-color: var(--primary);
        width: 70vw;
        font-size: 2rem;
        gap: 28px;
        padding-right: 40px;
        transform: translateX(0);
        transition: transform 0.3s;
    }
    .navigationHidden {
        transform: translateX(100%);
    }
    .menu {
        display: block;
    }

}
