.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.home h1 {
    font-weight: 700;
    margin: 24px 0 16px 0;
}

.home a {
    color: var(--primary);
    font-weight: 700;
    text-decoration: underline;
}

.credit {
    margin-top: 32px;
    font-size: 12px;
    color: #9f9f9f;
}